 # HeartRisk360: A Deep Dive into Heart Disease Factors

###  **ðŸ“Œ Summary of Project**

This project is a comprehensive SQL-based analysis of heart disease risk factors using a real-world dataset. It covers data cleaning using Python, database schema design, advanced SQL queries, and deep insights into cardiovascular health. By leveraging Joins, Window Functions, Aggregations, and Statistical Analysis, we uncover the top contributors to heart disease, lifestyle impacts, and predictive risk factors.

**Four key phases :**

âœ… Data Cleaning (Python): Handling missing values & preparing structured data

âœ… Database Design (SQL Server): Creating optimized relational tables for efficient querying

âœ… Advanced SQL Analysis: Extracting deep insights into disease risk using complex queries

âœ… Data Storytelling (Power BI ): Visualizing findings for better decision-making

In [2]:
import kaggle

In [5]:

!kaggle datasets download -d oktayrdeki/heart-disease

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.7.4.2 / client 1.6.17)
Dataset URL: https://www.kaggle.com/datasets/oktayrdeki/heart-disease
License(s): other
Downloading heart-disease.zip to C:\Users\Asad Ali\Desktop\Python Project

  0%|          | 0.00/568k [00:00<?, ?B/s]
100%|##########| 568k/568k [00:04<00:00, 119kB/s]
100%|##########| 568k/568k [00:04<00:00, 119kB/s]

In [6]:
import zipfile
zip_ref= zipfile.ZipFile('heart-disease.zip')
zip_ref.extractall()
zip_ref.close()

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('heart_disease.csv')

In [4]:
df.head(5)

,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,Diabetes,BMI,High Blood Pressure,...,High LDL Cholesterol,Alcohol Consumption,Stress Level,Sleep Hours,Sugar Consumption,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level,Heart Disease Status
0,56.0,Male,153.0,155.0,High,Yes,Yes,No,24.991591,Yes,...,No,High,Medium,7.633228,Medium,342.0,NaN,12.969246,12.387250,No
1,69.0,Female,146.0,286.0,High,No,Yes,Yes,25.221799,No,...,No,Medium,High,8.744034,Medium,133.0,157.0,9.355389,19.298875,No
2,46.0,Male,126.0,216.0,Low,No,No,No,29.855447,No,...,Yes,Low,Low,4.440440,Low,393.0,92.0,12.709873,11.230926,No
3,32.0,Female,122.0,293.0,High,Yes,Yes,No,24.130477,Yes,...,Yes,Low,High,5.249405,High,293.0,94.0,12.509046,5.961958,No
4,60.0,Male,166.0,242.0,Low,Yes,Yes,Yes,20.486289,Yes,...,No,Low,High,7.030971,High,263.0,154.0,10.381259,8.153887,No

In [5]:
df.tail(5)

,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,Diabetes,BMI,High Blood Pressure,...,High LDL Cholesterol,Alcohol Consumption,Stress Level,Sleep Hours,Sugar Consumption,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level,Heart Disease Status
9995,25.0,Female,136.0,243.0,Medium,Yes,No,No,18.788791,Yes,...,Yes,Medium,High,6.834954,Medium,343.0,133.0,3.588814,19.132004,Yes
9996,38.0,Male,172.0,154.0,Medium,No,No,No,31.856801,Yes,...,Yes,NaN,High,8.247784,Low,377.0,83.0,2.658267,9.715709,Yes
9997,73.0,Male,152.0,201.0,High,Yes,No,Yes,26.899911,No,...,Yes,NaN,Low,4.436762,Low,248.0,88.0,4.408867,9.492429,Yes
9998,23.0,Male,142.0,299.0,Low,Yes,No,Yes,34.964026,Yes,...,Yes,Medium,High,8.526329,Medium,113.0,153.0,7.215634,11.873486,Yes
9999,38.0,Female,128.0,193.0,Medium,Yes,Yes,Yes,25.111295,No,...,Yes,High,Medium,5.659394,High,121.0,149.0,14.387810,6.208531,Yes

In [6]:
df.shape

(10000, 21)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   9971 non-null   float64
 1   Gender                9981 non-null   object
 2   Blood Pressure        9981 non-null   float64
 3   Cholesterol Level     9970 non-null   float64
 4   Exercise Habits       9975 non-null   object
 5   Smoking               9975 non-null   object
 6   Family Heart Disease  9979 non-null   object
 7   Diabetes              9970 non-null   object
 8   BMI                   9978 non-null   float64
 9   High Blood Pressure   9974 non-null   object
 10  Low HDL Cholesterol   9975 non-null   object
 11  High LDL Cholesterol  9974 non-null   object
 12  Alcohol Consumption   7414 non-null   object
 13  Stress Level          9978 non-null   object
 14  Sleep Hours           9975 non-null   float64
 15  Sugar Consumption     9970 non-null   object
 16  Triglyceride Level    9974 non-null   float64
 17  Fasting Blood Sugar   9978 non-null   float64
 18  CRP Level             9974 non-null   float64
 19  Homocysteine Level    9980 non-null   float64
 20  Heart Disease Status  10000 non-null  object
dtypes: float64(9), object(12)
memory usage: 1.6+ MB

In [8]:
df.sample()

,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,Diabetes,BMI,High Blood Pressure,...,High LDL Cholesterol,Alcohol Consumption,Stress Level,Sleep Hours,Sugar Consumption,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level,Heart Disease Status
3627,42.0,Male,147.0,202.0,Low,Yes,No,Yes,21.732524,No,...,No,NaN,Medium,8.456524,Low,267.0,81.0,12.792004,19.163267,No

In [9]:
df.describe()

,Age,Blood Pressure,Cholesterol Level,BMI,Sleep Hours,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level
count,9971.000000,9981.000000,9970.000000,9978.000000,9975.000000,9974.000000,9978.000000,9974.000000,9980.000000
mean,49.296259,149.757740,225.425577,29.077269,6.991329,250.734409,120.142213,7.472201,12.456271
std,18.193970,17.572969,43.575809,6.307098,1.753195,87.067226,23.584011,4.340248,4.323426
min,18.000000,120.000000,150.000000,18.002837,4.000605,100.000000,80.000000,0.003647,5.000236
25%,34.000000,134.000000,187.000000,23.658075,5.449866,176.000000,99.000000,3.674126,8.723334
50%,49.000000,150.000000,226.000000,29.079492,7.003252,250.000000,120.000000,7.472164,12.409395
75%,65.000000,165.000000,263.000000,34.520015,8.531577,326.000000,141.000000,11.255592,16.140564
max,80.000000,180.000000,300.000000,39.996954,9.999952,400.000000,160.000000,14.997087,19.999037

In [10]:
df.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Age,9971.0,NaN,NaN,NaN,49.296259,18.19397,18.0,34.0,49.0,65.0,80.0
Gender,9981,2,Male,5003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blood Pressure,9981.0,NaN,NaN,NaN,149.75774,17.572969,120.0,134.0,150.0,165.0,180.0
Cholesterol Level,9970.0,NaN,NaN,NaN,225.425577,43.575809,150.0,187.0,226.0,263.0,300.0
Exercise Habits,9975,3,High,3372,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Smoking,9975,2,Yes,5123,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Family Heart Disease,9979,2,No,5004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Diabetes,9970,2,No,5018,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMI,9978.0,NaN,NaN,NaN,29.077269,6.307098,18.002837,23.658075,29.079492,34.520015,39.996954
High Blood Pressure,9974,2,Yes,5022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Low HDL Cholesterol,9975,2,Yes,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
High LDL Cholesterol,9974,2,No,5036,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alcohol Consumption,7414,3,Medium,2500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stress Level,9978,3,Medium,3387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sleep Hours,9975.0,NaN,NaN,NaN,6.991329,1.753195,4.000605,5.449866,7.003252,8.531577,9.999952
Sugar Consumption,9970,3,Low,3390,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Triglyceride Level,9974.0,NaN,NaN,NaN,250.734409,87.067226,100.0,176.0,250.0,326.0,400.0
Fasting Blood Sugar,9978.0,NaN,NaN,NaN,120.142213,23.584011,80.0,99.0,120.0,141.0,160.0
CRP Level,9974.0,NaN,NaN,NaN,7.472201,4.340248,0.003647,3.674126,7.472164,11.255592,14.997087
Homocysteine Level,9980.0,NaN,NaN,NaN,12.456271,4.323426,5.000236,8.723334,12.409395,16.140564,19.999037
Heart Disease Status,10000,2,No,8000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# ðŸ›  Data Cleaning & Transformation

###  ðŸ“Œ Step 1: Handle Missing Values

In [11]:
df.isnull().sum()

Age                       29
Gender                    19
Blood Pressure            19
Cholesterol Level         30
Exercise Habits           25
Smoking                   25
Family Heart Disease      21
Diabetes                  30
BMI                       22
High Blood Pressure       26
Low HDL Cholesterol       25
High LDL Cholesterol      26
Alcohol Consumption     2586
Stress Level              22
Sleep Hours               25
Sugar Consumption         30
Triglyceride Level        26
Fasting Blood Sugar       22
CRP Level                 26
Homocysteine Level        20
Heart Disease Status       0
dtype: int64

In [12]:
df['Age']= df['Age'].fillna(df['Age'].median())

In [13]:
num_cols = ['Age', 'BMI', 'Blood Pressure', 'Cholesterol Level', 'Triglyceride Level', 'Fasting Blood Sugar']
for col in num_cols:
   df[col]=df[col].fillna(df[col].median())

In [14]:
num_cols = ['CRP Level', 'Homocysteine Level']
for col in num_cols:
   df[col]=df[col].fillna(df[col].median())

In [15]:
df.isnull().sum()

Age                        0
Gender                    19
Blood Pressure             0
Cholesterol Level          0
Exercise Habits           25
Smoking                   25
Family Heart Disease      21
Diabetes                  30
BMI                        0
High Blood Pressure       26
Low HDL Cholesterol       25
High LDL Cholesterol      26
Alcohol Consumption     2586
Stress Level              22
Sleep Hours               25
Sugar Consumption         30
Triglyceride Level         0
Fasting Blood Sugar        0
CRP Level                  0
Homocysteine Level         0
Heart Disease Status       0
dtype: int64

In [16]:
df['Sugar Consumption'] = df['Sugar Consumption'].fillna(df['Sugar Consumption'].mode()[0])

In [17]:
df['Sleep Hours'] = df['Sleep Hours'].fillna(df['Sleep Hours'].mode()[0])

In [18]:
cat_cols = ['Gender', 'Exercise Habits', 'Smoking', 'Family Heart Disease', 'Diabetes',
            'High Blood Pressure', 'Low HDL Cholesterol', 'High LDL Cholesterol', 'Stress Level']

for col in cat_cols:
   df[col] = df[col].fillna(df[col].mode()[0])

In [19]:
df.isnull().sum()

Age                        0
Gender                     0
Blood Pressure             0
Cholesterol Level          0
Exercise Habits            0
Smoking                    0
Family Heart Disease       0
Diabetes                   0
BMI                        0
High Blood Pressure        0
Low HDL Cholesterol        0
High LDL Cholesterol       0
Alcohol Consumption     2586
Stress Level               0
Sleep Hours                0
Sugar Consumption          0
Triglyceride Level         0
Fasting Blood Sugar        0
CRP Level                  0
Homocysteine Level         0
Heart Disease Status       0
dtype: int64

In [20]:
df.drop(columns=['Alcohol Consumption'], inplace=True)

In [21]:
df.isnull().sum()

Age                     0
Gender                  0
Blood Pressure          0
Cholesterol Level       0
Exercise Habits         0
Smoking                 0
Family Heart Disease    0
Diabetes                0
BMI                     0
High Blood Pressure     0
Low HDL Cholesterol     0
High LDL Cholesterol    0
Stress Level            0
Sleep Hours             0
Sugar Consumption       0
Triglyceride Level      0
Fasting Blood Sugar     0
CRP Level               0
Homocysteine Level      0
Heart Disease Status    0
dtype: int64

In [22]:
df.dtypes

Age                     float64
Gender                   object
Blood Pressure          float64
Cholesterol Level       float64
Exercise Habits          object
Smoking                  object
Family Heart Disease     object
Diabetes                 object
BMI                     float64
High Blood Pressure      object
Low HDL Cholesterol      object
High LDL Cholesterol     object
Stress Level             object
Sleep Hours             float64
Sugar Consumption        object
Triglyceride Level      float64
Fasting Blood Sugar     float64
CRP Level               float64
Homocysteine Level      float64
Heart Disease Status     object
dtype: object

In [23]:
df['Age'] = df['Age'].astype('int64')
df['Stress Level'] = df['Stress Level'].astype('category')

In [24]:
cat_cols = ['Gender', 'Exercise Habits', 'Smoking', 'Family Heart Disease', 'Diabetes',
            'High Blood Pressure', 'Low HDL Cholesterol', 'High LDL Cholesterol', 'Heart Disease Status']

for col in cat_cols:
    df[col] = df[col].astype('category')

In [25]:
df['Sugar Consumption'] = df['Sugar Consumption'].astype('category')

In [26]:
df.dtypes

Age                        int64
Gender                  category
Blood Pressure           float64
Cholesterol Level        float64
Exercise Habits         category
Smoking                 category
Family Heart Disease    category
Diabetes                category
BMI                      float64
High Blood Pressure     category
Low HDL Cholesterol     category
High LDL Cholesterol    category
Stress Level            category
Sleep Hours              float64
Sugar Consumption       category
Triglyceride Level       float64
Fasting Blood Sugar      float64
CRP Level                float64
Homocysteine Level       float64
Heart Disease Status    category
dtype: object

In [27]:
def categorize_bmi(bmi):
    if bmi < 18.5:
        return "Underweight"
    elif 18.5 <= bmi < 24.9:
        return "Normal"
    elif 25 <= bmi < 29.9:
        return "Overweight"
    else:
        return "Obese"

df["BMI Category"] = df["BMI"].apply(categorize_bmi)

In [28]:
def categorize_age(age):
    if age < 30:
        return "Young"
    elif 30 <= age < 50:
        return "Middle-aged"
    else:
        return "Senior"

df["Age Group"] = df["Age"].apply(categorize_age)

In [29]:
def categorize_cholesterol(chol):
    if chol < 200:
        return "Low"
    elif 200 <= chol < 239:
        return "Medium"
    else:
        return "High"

df["Cholesterol Risk"] = df["Cholesterol Level"].apply(categorize_cholesterol)

In [30]:
def calculate_lifestyle_score(row):
    score = 0
    if row["Exercise Habits"] == "High":
        score += 1
    if row["Smoking"] == "Yes":
        score -= 1
    if row["Sleep Hours"] >= 7:
        score += 1
    elif row["Sleep Hours"] < 6:
        score -= 1
    return score

df["Lifestyle Score"] = df.apply(calculate_lifestyle_score, axis=1)

In [31]:
df['Patient_ID'] = ['P' + str(i).zfill(4) for i in range(1, len(df) + 1)]

In [32]:
df.head(5)

,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,Diabetes,BMI,High Blood Pressure,...,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level,Heart Disease Status,BMI Category,Age Group,Cholesterol Risk,Lifestyle Score,Patient_ID
0,56,Male,153.0,155.0,High,Yes,Yes,No,24.991591,Yes,...,342.0,120.0,12.969246,12.387250,No,Obese,Senior,Low,1,P0001
1,69,Female,146.0,286.0,High,No,Yes,Yes,25.221799,No,...,133.0,157.0,9.355389,19.298875,No,Overweight,Senior,High,2,P0002
2,46,Male,126.0,216.0,Low,No,No,No,29.855447,No,...,393.0,92.0,12.709873,11.230926,No,Overweight,Middle-aged,Medium,-1,P0003
3,32,Female,122.0,293.0,High,Yes,Yes,No,24.130477,Yes,...,293.0,94.0,12.509046,5.961958,No,Normal,Middle-aged,High,-1,P0004
4,60,Male,166.0,242.0,Low,Yes,Yes,Yes,20.486289,Yes,...,263.0,154.0,10.381259,8.153887,No,Normal,Senior,High,0,P0005

In [33]:
col = df.pop("Patient_ID")  # Patient_ID column nikal lo

In [34]:
df.insert(0, "Patient_ID", col)

In [35]:
df.head(5)

,Patient_ID,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,Diabetes,BMI,...,Sugar Consumption,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level,Heart Disease Status,BMI Category,Age Group,Cholesterol Risk,Lifestyle Score
0,P0001,56,Male,153.0,155.0,High,Yes,Yes,No,24.991591,...,Medium,342.0,120.0,12.969246,12.387250,No,Obese,Senior,Low,1
1,P0002,69,Female,146.0,286.0,High,No,Yes,Yes,25.221799,...,Medium,133.0,157.0,9.355389,19.298875,No,Overweight,Senior,High,2
2,P0003,46,Male,126.0,216.0,Low,No,No,No,29.855447,...,Low,393.0,92.0,12.709873,11.230926,No,Overweight,Middle-aged,Medium,-1
3,P0004,32,Female,122.0,293.0,High,Yes,Yes,No,24.130477,...,High,293.0,94.0,12.509046,5.961958,No,Normal,Middle-aged,High,-1
4,P0005,60,Male,166.0,242.0,Low,Yes,Yes,Yes,20.486289,...,High,263.0,154.0,10.381259,8.153887,No,Normal,Senior,High,0

In [36]:
def rename_columns(df):
    df.columns = [col.replace(' ', '_') for col in df.columns]
    return df

# Rename columns in the DataFrame
df = rename_columns(df)

In [37]:
df.head(5)

,Patient_ID,Age,Gender,Blood_Pressure,Cholesterol_Level,Exercise_Habits,Smoking,Family_Heart_Disease,Diabetes,BMI,...,Sugar_Consumption,Triglyceride_Level,Fasting_Blood_Sugar,CRP_Level,Homocysteine_Level,Heart_Disease_Status,BMI_Category,Age_Group,Cholesterol_Risk,Lifestyle_Score
0,P0001,56,Male,153.0,155.0,High,Yes,Yes,No,24.991591,...,Medium,342.0,120.0,12.969246,12.387250,No,Obese,Senior,Low,1
1,P0002,69,Female,146.0,286.0,High,No,Yes,Yes,25.221799,...,Medium,133.0,157.0,9.355389,19.298875,No,Overweight,Senior,High,2
2,P0003,46,Male,126.0,216.0,Low,No,No,No,29.855447,...,Low,393.0,92.0,12.709873,11.230926,No,Overweight,Middle-aged,Medium,-1
3,P0004,32,Female,122.0,293.0,High,Yes,Yes,No,24.130477,...,High,293.0,94.0,12.509046,5.961958,No,Normal,Middle-aged,High,-1
4,P0005,60,Male,166.0,242.0,Low,Yes,Yes,Yes,20.486289,...,High,263.0,154.0,10.381259,8.153887,No,Normal,Senior,High,0

In [35]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\asad ali\appdata\local\programs\python\python312\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\asad ali\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\asad ali\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [48]:
!pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.2.0-cp312-cp312-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.2.0-cp312-cp312-win_amd64.whl (69 kB)
   ---------------------------------------- 0.0/69.5 kB ? eta -:--:--
   ---------------------------------------- 0.0/69.5 kB ? eta -:--:--
   ---------------------------------------- 0.0/69.5 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/69.5 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/69.5 kB ? eta -:--:--
   ----------------- ---------------------- 30.7/69.5 kB 187.9 kB/s eta 0:00:01
   ----------------------- ---------------- 41.0/69.5 kB 196.9 kB/s eta 0:00:01
   ----------------------------------- ---- 61.4/69.5 kB 252.2 kB/s eta 0:00:01
   ---------------------------------------- 69.5/69.5 kB 253.2 kB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [43]:
import pyodbc


# SQL Server ka connection string (Windows Authentication ke liye)
server = 'Chishti'  # aapka SQL Server ka naam
database = 'Heart_Risk360'  # aapka database ka naam

# Connection establish karna
conn = pyodbc.connect(f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;')

In [40]:
from sqlalchemy import create_engine


# Define SQL Server connection details
server = 'Chishti'  # Example: 'localhost\SQLEXPRESS'
database = 'Heart_Risk360'

# Create an SQLAlchemy engine
engine = create_engine(f"mssql+pyodbc://{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server")

# âœ… Insert Patients Data using SQLAlchemy
df_patients = df[['Patient_ID', 'Age', 'Gender',]]
df_patients.to_sql('Patients', con=engine, if_exists='append', index=False)

214

In [42]:
from sqlalchemy import create_engine

# Define SQL Server connection details
server = 'Chishti'  # Example: 'localhost\SQLEXPRESS'
database = 'Heart_Risk360'

# Create an SQLAlchemy engine
engine = create_engine(f"mssql+pyodbc://{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server")

# âœ… Insert Medical History Data
df_medical = df[['Patient_ID', 'Family_Heart_Disease', 'Diabetes', 'High_Blood_Pressure', 'Low_HDL_Cholesterol', 'High_LDL_Cholesterol']]
df_medical.to_sql('Medical_History', con=engine, if_exists='append', index=False)

228

In [44]:
#  Insert Lifestyle Factors Data
df_lifestyle = df[['Patient_ID', 'Smoking', 'Exercise_Habits', 'Stress_Level', 'Sleep_Hours', 'Sugar_Consumption','Lifestyle_Score']]
df_lifestyle.to_sql('Lifestyle_Factors', con=engine, if_exists='append', index=False)

#  Insert Lab Results Data
df_lab = df[['Patient_ID', 'Blood_Pressure', 'Cholesterol_Level','Cholesterol_Risk', 'Triglyceride_Level', 'Fasting_Blood_Sugar', 'CRP_Level', 'Homocysteine_Level']]
df_lab.to_sql('Lab_Results', con=engine, if_exists='append', index=False)

1000

In [46]:
#  Insert Heart Disease Status Data
df_Health_Outcome = df[['Patient_ID', 'Heart_Disease_Status']]
df_Health_Outcome.to_sql('Health_Outcome', con=engine, if_exists='append', index=False)

1000


## hhh
new_excel_file = "Cleaned_data.xlsx"

 Data ko Excel me save karo
df.to_excel(new_excel_file, index=False)

print(f"Cleaned data successfully saved in '{new_excel_file}'")

In [48]:
new_file = "Cleaned_data.csv"

df.to_csv(new_file, index=False)

print(f"Cleaned data successfully saved in '{new_file}'")

Cleaned data successfully saved in 'Cleaned_data.csv'

## Alhamdulillah Ended 1st Project ............... Hard but Compeleted......